.answercontainer {
    display: flex;
    justify-content: space-between;
    max-width: fit-content;


    ul {

        display: grid;
        grid-template-columns: repeat(3, minmax(95px, 1fr));
        align-items: center;
        list-style: none;

        li:nth-of-type(2) {
            box-shadow: rgba(28, 214, 3, 0.3) 0px 0px 0px 3px;
            border-radius: 4px;

        }
    }

}