@font-face {
    font-family: "caveat";
    src: url(/fonts/Caveat-Regular.ttf);
    font-style: normal;
}


.container {
  
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 25px;
}

.answerButton {
    background-color: #1f7cc3;
    border: 0 solid #E5E7EB;
    border-radius: 15px;
    box-sizing: border-box;
    color: #fffcfc;
    font-family: caveat;
    font-size: 1.8rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 50%;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.answerButton:focus {
  outline: 0;
}

.answerButton:after {

    content: '';
    position: absolute;
    border: 1px solid #000000;
    border-radius: 15px;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.answerButton:hover:after {
    bottom: 2px;
    left: 2px;
}

.answerButtonWrong {
    background-color: #e73d68;
    border: 0 solid #E5E7EB;
    border-radius: 15px;
    box-sizing: border-box;
    color: #fffcfc;
    display: flex;
    font-family: caveat;
    font-size: 1.75rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 50%;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.answerButtonWrong:focus {
    outline: 0;
}

.answerButtonWrong:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    border-radius: 15px;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.answerButtonWrong:hover:after {
    bottom: 2px;
    left: 2px;
}

