@font-face {
    font-family: "itim";
    src: url(/fonts/Itim-Regular.ttf);
    font-style: normal;
}


.questionContainer {
    display: flex;
    text-align: center;
    font-family: itim;
    color: #f4f1f1;
    font-size: 1.5rem;
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    
}