/* In Ihrer quizPage.module.css oder einer spezifischen CSS-Datei */
.tooltipmodal {
  position: fixed; /* oder absolute, je nachdem, wo Sie das Modal anzeigen möchten */
  top: 50%; /* Anpassen, um das Modal in der Mitte des Bildschirms anzuzeigen */
  left: 50%;
  transform: translate(-50%, -50%); /* Zentriert das Modal */
  z-index: 1000; /* Stellt sicher, dass das Modal über anderen Elementen liegt */
  background-color: #fff; /* Optional: Hintergrundfarbe des Modals */
  border: 1px solid #ccc; /* Optional: Rand des Modals */
  padding: 20px; /* Optional: Padding innerhalb des Modals */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Schatten um das Modal */
}
